<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Country</title>
</head>
<body>
    
    <% for(let i = 0; i < countryArray.length; i++) { %>
        <p>Namn: <%= countryArray[i].name %> | Land:  <%= countryArray[i].country %></p>
        <% } %>
    
</body>
</html>