<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form id="createForm" method="POST" action="http://127.0.0.1:3000/customer">
        
        <label for="customerName">Customer name</label>
        <input type="text" name="customerName" id="customerName"/><br>
        <label for="order">Customer order</label>
        <input type="text" name="order" id="order"/><br>
        <label for="country">Customer country</label>
        <input type="text" name="country" id="country"/>
        
        <input type="submit" value="Submit">
    </form>

    <script src="js/allForms.js"></script>
</body>
</html>